body {
  background-image: url('./main.jpeg');
  background-repeat: no-repeat;  
  background-size: cover;        
  background-position: center;   
  background-attachment: fixed;  
}
.title {
	color: #5C6AC4;
}
.header{
  color: maroon;
  width: 100%;
  display: grid;
  justify-content: center;
}
.main{
  display: grid;
  
  justify-content: center;
}
.howerpoint{
  color: black;
  width: 40px;
  height: 40px;
  opacity: 0.3;
  background-color: black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
